
  
.single{
    height: auto;
    width: 200px;
}

.project{
  text-align: center;
   position: relative;
  left: 10px;
  padding: 0.25rem 5rem 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 400px;
}


  #project-collection img {
    height: auto;
    width: 100px;
    border: grey solid 2px;
    padding: 1rem;
    display: inline-grid;
    box-shadow: 3px 4px #329704;
    margin-right: 0.8rem;
  }
  
  #project-collection {
  display: flex;
  overflow-y: auto;
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);

  }



